<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/test.scss' %}">
  </head>
  <body>
    <div class="home">
      <form action="home/" method="post">
        {% csrf_token %}
        <div>
          <label for="id_user_name">user name</label>
          {{ form.user_name }}
        </div>

        <br>

        <div>
          <label for="id_email">email</label>
          {{ form.email }}
        </div>

        <br>

        <div>
            <label for="id_password">password</label>
            {{ form.password }}
        </div>

        <br>
        <input type="submit" value="Submit">  
      </form>
    </div>
  </body>
</html>