<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/test.scss' %}">
  </head>
  <body>
    <div class="home">
      <form action="home/" method="post">
        {% csrf_token %}
        <div>
          <label for="id_first_name">First Name</label>
          {{ form.first_name }}
        </div>

        <br>

        <div>
          <label for="id_last_name">Last Name</label>
          {{ form.last_name }}
        </div>

        <br>
        <input type="submit" value="Submit">  
      </form>
    </div>
  </body>
</html>